# Exclude Less files
*.less linguist-vendored

# Exclude Hack files
*.hack linguist-vendored

# Optional: exclude entire folders if they contain those files
vendor/** linguist-vendored
node_modules/** linguist-vendored
*.hack linguist-vendored
**/*.hack linguist-vendored
*.php linguist-language=PHP
assets/js/vendor/* linguist-vendored
public/js/* linguist-vendored
assets/js/app.js linguist-documentation
